[Desktop Entry]
Type=Application
NoDisplay=false
Terminal=false
Exec=/opt/KytyPS5-2026-09-07-6aa6e39/launcher
Icon=
Name=KytyPS5
Comment=
Categories=Games